.header
    padding: 45px 0 0px 0
    &__container
        padding-bottom: 30px
        display: flex
        align-items: center
        justify-content: space-between
        border-bottom: 1px solid rgba(0, 8, 49, .1)
    &__text
        color: #000831
        font-size: 20px
        line-height: calc((30 / 20) * 100%)
        opacity: 0.5
