.for-whom
    padding: 14px 0 111px 0
    &__wrapper
        display: flex
        align-items: center
        margin-top: 86px
        justify-content: space-between
    &__item
        margin-top: 35px
        margin-right: 35px
        &:last-child
            margin-right: 0
    &__img
        display: flex
        align-items: center
        justify-content: center
        width: 90px
        height: 90px
        background: #000831
        border-radius: 100%
    &__subtitle
        margin-top: 30px
    &__text
        margin-top: 15px
        width: 680px
        