.header
    padding: 60px 0 10px 0
    &__container, &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
    &__wrapper
        padding-bottom: 30px
    &__btn
        padding: 15px 20px
        border-radius: 50px
    &__line
        display: block
        height: 1px
        background: rgba(0, 8, 49, .1)
